{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "eslint",
        "releaseRules": [
          { "type": "docs", "scope": "README", "release": "patch" }
        ]
      }
    ]
  ]
}